@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


body {
  background-image: url(images/background.jpg);
  margin: 50px;
  padding: 15px;
  font-family:'Neucha';
}


.logo{
  display: flex;
  justify-content: center;
  margin: 0 80px;
}

.idioma{
float: right;
font-size:20px;

}

.idioma ul{
margin-top: 0;
}

.idioma ul li{
  text-align: right;
  display: inline-block;
}

.idioma ul .EN{
  border-right: 1px solid;
  padding-right: 5px;
}

.idioma ul li a{
  text-align: right;
  display: inline-block;
  text-decoration: none;
}

abbr {
  text-decoration: none;
}


nav{
  text-align: center; 
}
nav ul{
  padding: 0;
}
nav ul li{
  display: block;
  margin-bottom: 30px;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  font-size: 28px;
  position: relative;
}
nav ul li .left:before{
  content: '';
  position: absolute;
  top: 50%;
  left: -100%;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: all ease 0.5s;
  opacity: 0;
}
nav ul li .right:before{
  content: '';
  position: absolute;
  top: 50%;
  right: -100%;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: all ease 0.5s;
  opacity: 0;
}
nav ul li .left:hover:before{
  width: 100%;
  opacity: 1;
  left: 0;

}
nav ul li .right:hover:before{
  width: 100%;
  opacity: 1;
  right: 0;
}

section {
  background-color: white;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 4px 20px -1px #777;
  -moz-box-shadow: 0 4px 20px -1px #777;
  box-shadow: 0 4px 20px -1px #777;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: black;
  text-align: center;
  font-family: Verdana;
  font-size: small;
  margin-top: 20px
}


*{
  box-sizing: border-box;
}

.row img, iframe{
  width: 100%;
}

.row{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.column{
  flex: 33%;
  padding: 5px;
}

.column img, iframe {
  margin-top: 5px;
}

@media (max-width: 700px){
  .column{
    flex: 100%;
  }
}


.contenedor figure{
  position:relative;
  margin: 0px;
  cursor: pointer; 
}

.contenedor figure .capa1, .contenedor figure .capa2{
  position: absolute;
  top: 5px;
  width: 100%;
  height: 95%;
  background: rgba(0,103,123,0.7);
  opacity: 0;
}
.contenedor figure .capa2{ 
  background: rgba(153,0,0,0.7);    
}

.contenedor figure:hover > .capa1, .contenedor figure:hover > .capa2 {
  opacity: 1;
  visibility: visible;
}
   
.contenedor figure .capa1 p, .contenedor figure .capa2 p{
  color: #fff;
  text-align: center;
  font-size: 18px;
  max-width: 220px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto
}


.contact div {
  overflow-x: auto; 
  text-align: center;
  margin-top: 70px;
  font-size:20px;
}



.about th{
  text-align: justify; 
  padding: 10px;
  font-size:20px;
  font-weight:normal;
}


#menu img{
position: absolute;
margin-left:-265px;
margin-top:-25px;
width:525px;
}

#menu ul{
position: relative;
}

